# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Alejandro Laborde Workspace JAVA\DesafioNubimetrics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
